@model StudentParentViewModel
@{
    ViewData["Title"] = "Index";
}


@*<div class="card shadow">
        <div class="card-header">
            <h4>Veli Ana Sayfası</h4>
        </div>
        <div class="card-body">
            <p></p>
        </div>
    </div>*@

<div class="row">
    @foreach (var student in Model.StudentDTOs)
    {
        <div class="col-xl-3 col-md-6 mt-2">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body" onclick="">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="row">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
                                @*<img src="~/Images/Students/@student.SchoolNumber".jpg" />*@
                                <a asp-controller="Student" asp-action="StudentAcademicInfo" asp-route-studentId="@student.Id" class="h5 mb-0 font-weight-bold text-gray-800 ml-1">@student.FirstName @student.LastName</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<div class="row">
    <div class="col">
        <div class="card shadow mt-2">
            <div class="card-header">
                <h4 class="m-0 font-weight-bold text-primary">Etkinlikler</h4>
            </div>
            <div class="card-body">
                <p></p>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="card shadow mt-2">
            <div class="card-header">
                <h4 class="m-0 font-weight-bold text-primary">Duyurular</h4>
            </div>
            <div class="card-body">
                <p></p>
            </div>
        </div>
    </div>
</div>