@model StudentParentViewModel


<div class="modal-header">
    <h5 class="modal-title font-weight-bold text-primary" id="exampleModalLabel">Veli Bilgilerini Güncelle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form asp-action="ParentUpdate" class="shadow-sm">

    <input type="hidden" asp-for="ParentDTO.Id" />

    <div class="modal-body">

        <div class="form-group">
            <label for="formGroupExampleInput">Veli Adı</label>
            <input type="text" class="form-control" id="" placeholder="Adı" asp-for="ParentDTO.FirstName">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Veli Soyadı</label>
            <input type="text" class="form-control" id="" placeholder="Soyadı" asp-for="ParentDTO.LastName">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Kimlik No</label>
            <input type="text" class="form-control" id="" placeholder="Kimlik Numarası" asp-for="ParentDTO.IdentityNumber">
        </div>
        <fieldset class="form-group ml-3">
            <div class="row">
                <label>Cinsiyeti</label>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ParentDTO.Gender" id="gridRadios1" value="Erkek" asp-for="ParentDTO.Gender">
                        <label class="form-check-label" for="gridRadios1">
                            Erkek
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ParentDTO.Gender" id="gridRadios2" value="Kadın" asp-for="ParentDTO.Gender">
                        <label class="form-check-label" for="gridRadios2">
                            Kadın
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <br />

        <h5>İletişim Bilgisi</h5>
        <hr />

        <div class="form-group">
            <label for="formGroupExampleInput2">Cep Telefonu</label>
            <input type="tel" class="form-control" placeholder="+90" asp-for="ParentDTO.CellPhone">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Ev Telefonu</label>
            <input type="tel" class="form-control" placeholder="+90" asp-for="ParentDTO.HomePhone">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">İş Telefonu</label>
            <input type="tel" class="form-control" placeholder="+90" asp-for="ParentDTO.WorkPhone">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Adres Bilgisi</label>
            <input type="text" class="form-control" placeholder="" asp-for="ParentDTO.Address">
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>

</form>

