@model IEnumerable<StudentDTO>


<div class="modal-header">
    <h5 class="modal-title font-weight-bold text-primary" id="exampleModalLabel">İlgili Öğrenci Bilgileri </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="modal-body">
    @foreach (var student in Model)
    {
        <div class="card m-2">

            <img class="card-img-top" src="..." alt="Öğrenci Resmi" />

            <div class="card-body">
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <label><strong>Okul Numarası : </strong></label>
                            </div>
                            <div class="col">
                                <label>@student.SchoolNumber</label>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <label><strong>Öğrenci Adı : </strong></label>
                            </div>
                            <div class="col">
                                <label>@student.FirstName</label>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <label><strong>Öğrenci Soyadı : </strong></label>
                            </div>
                            <div class="col">
                                <label>@student.LastName</label>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <label><strong>Şubesi : </strong></label>
                            </div>
                            <div class="col">
                                @if (student.Section != null) //SectionDTO
                                {
                                    <label>
                                        @student.Section.SectionName
                                    </label>
                                }
                                else
                                {
                                    <label>Atanmadı</label>
                                }
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
</div>