@model StudentParentViewModel


<div class="modal-header">
    <h5 class="modal-title font-weight-bold text-primary" id="exampleModalLabel">Veli Bilgileri </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form asp-action="ParentDetails" class="shadow-sm">

    <input type="hidden" asp-for="ParentDTO.Id" />

    <div class="modal-body">

        <div class="form-group">
            <label for="formGroupExampleInput">Veli Adı</label>
            <input type="text" class="form-control" id="" readonly placeholder="Adı" asp-for="ParentDTO.FirstName">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Veli Soyadı</label>
            <input type="text" class="form-control" id="" readonly placeholder="Soyadı" asp-for="ParentDTO.LastName">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Kimlik No</label>
            <input type="text" class="form-control" id="" readonly placeholder="Kimlik Numarası" asp-for="ParentDTO.IdentityNumber">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Cinsiyeti</label>
            <input type="text" class="form-control" readonly id="" placeholder="Cinsiyeti" asp-for="ParentDTO.Gender">
        </div>
        <br />

        <h5>İletişim Bilgisi</h5>
        <hr />

        <div class="form-group">
            <label for="formGroupExampleInput2">Cep Telefonu</label>
            <input type="tel" class="form-control" readonly placeholder="+90" asp-for="ParentDTO.CellPhone">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Ev Telefonu</label>
            <input type="tel" class="form-control" readonly placeholder="+90" asp-for="ParentDTO.HomePhone">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">İş Telefonu</label>
            <input type="tel" class="form-control" readonly placeholder="+90" asp-for="ParentDTO.WorkPhone">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Adres Bilgisi</label>
            <input type="text" class="form-control" readonly placeholder="" asp-for="ParentDTO.Address">
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        <a class="btn btn-outline-warning " href="#" onclick="modalFunction('@Url.Action("ParentUpdate", "Parent", new { id = Model.ParentDTO.Id })')"><i class="fa fa-pen"></i></a>
    </div>

</form>

