@model BranchDTO
@{
    ViewData["Title"] = "BranchAdd";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Branş Ekle</h3>

<div class="row">
    <div class="col col-12 col-lg-4 p-2">

        <form asp-action="BranchAdd" class="shadow-sm">

            <div class="form-body">
                <div class="row p-2">
                    <div class="col p-3">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Branş Adı</label>
                            <input type="text" class="form-control" id="" placeholder="Adı" asp-for="BranchName">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 p-4">
                        <div class="form-actions float-right">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                            <button type="button" class="btn btn-secondary">İptal Et</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>