@model BranchDTO


<div class="modal-header">
    <h5 class="modal-title font-weight-bold text-primary" id="exampleModalLabel">Yeni Branş Ekle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@Html.AntiForgeryToken()
<form asp-action="BranchAdd" class="shadow-sm">

    <div class="modal-body">

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Branş Adı </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Branş Adı" asp-for="BranchName">
                @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
        <button type="submit" class="btn btn-primary">Kaydet</button>@*onclick="alertFunction()"*@
    </div>

</form>

@*<script>
    function alertFunction() {
        alert("İşleminiz başarıyla gerçekleştirildi.")
    }
</script>*@

@*<form id="myForm" class="shadow-sm">

        <div class="modal-body">

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Branş Adı </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Branş Adı" asp-for="BranchName">
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>

    </form>


    @section FooterJsPlugin{
        <script>
                const myForm = document.getElementById("myForm");
                myForm.addEventListener("submit", (e) => {
                    e.preventDefault();
                    e.timeStamp = Date.now;

                    alert("Yeni yönetici eklendi.");
                })
        </script>
*@

