@model SectionGradeViewModel


<div class="modal-header">
    <h5 class="modal-title font-weight-bold text-primary" id="exampleModalLabel">Şube Bilgilerini Güncelle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form asp-action="SectionUpdate" class="shadow-sm">

    <input type="hidden" asp-for="SectionDTO.Id" />
    <div class="modal-body">
        <div class="form-group">
            <label for="formGroupExampleInput">Şube Adı</label>
            <input type="text" class="form-control" placeholder="Şube Adı" asp-for="SectionDTO.SectionName">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Öğrenci Sayısı</label>
            <input type="text" class="form-control" id="" placeholder="Kayıtlı öğrenci sayısı" asp-for="SectionDTO.StudentCapacity">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Kayıtlı Öğrenci Sayısı</label>
            <input type="text" class="form-control" id="" placeholder="Kayıtlı öğrenci sayısı" asp-for="SectionDTO.NumberOfStudentsEnrolled">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Sınıf Bilgisi</label>
            <select class="form-control" asp-for="GradeDTO.Id" asp-items="@(new SelectList(Model.GradeDTOs, "Id","GradeName", Model.SectionDTO.GradeDTO))"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>

</form>

