@model SectionGradeViewModel


<div class="modal-header">
    <h5 class="modal-title font-weight-bold text-primary" id="exampleModalLabel">Yeni Şube Ekle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form asp-action="SectionAdd" class="shadow-sm">

    <div class="modal-body">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Şube Adı </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Şube Adı" asp-for="SectionDTO.SectionName">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Öğrenci Kapasitesi</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Öğrenci kapasitesi" asp-for="SectionDTO.StudentCapacity">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Kayıtlı Öğrenci Sayısı</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Kayıtlı öğrenci sayısı" asp-for="SectionDTO.NumberOfStudentsEnrolled">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Sınıf Bilgisi</label>
            <div class="col-sm-8">
                <select class="form-control" asp-for="SectionDTO.GradeId" asp-items="@(new SelectList(Model.GradeDTOs,  "Id", "GradeName"))"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput2">Danışman Öğretmen</label>
            <select class="form-control" asp-for="SectionDTO.AdvisoryTeacherId" asp-items="@(new SelectList(Model.InstructorDTOs, "Id", "FullNameBranch"))"></select>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>

</form>



@*<div class="form-group">
    <label for="formGroupExampleInput">Şube Adı</label>
    <input type="text" class="form-control" id="" placeholder="Şube Adı" asp-for="SectionDTO.SectionName">
</div>
<div class="form-group">
    <label for="formGroupExampleInput">Öğrenci Kapasitesi</label>
    <input type="text" class="form-control" id="" placeholder="Maksimum Öğrenci Kapasitesi" asp-for="SectionDTO.StudentCapacity">
</div>
<div class="form-group">
    <label for="formGroupExampleInput">Kayıtlı Öğrenci Sayısı</label>
    <input type="text" class="form-control" id="" placeholder="Kayıtlı öğrenci sayısı" asp-for="SectionDTO.NumberOfStudentsEnrolled">
</div>
<div class="form-group">
    <label for="formGroupExampleInput">Sınıf Bilgisi</label>
    <select class="form-control" asp-for="SectionDTO.GradeId" asp-items="@(new SelectList(Model.GradeDTOs,  "Id", "GradeName"))"></select>
</div>*@

