@model AdminDTO
@{
    ViewData["Title"] = "AdminUpdate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card border-bottom-primary shadow">
    <div class="card-header">
        <h5 class="font-weight-bold text-primary">Yönetici Bilgilerini Güncelle</h5>
    </div>
</div>

<div class="row">
    <div class="col col-12 col-lg-6 mt-3">

        <div class="card shadow">
            <div class="card-header">
                <h5 class="font-weight-bold text-primary">Yönetici Bilgilerini Güncelle Formu </h5>
            </div>

            <div class="card-body">

                @Html.AntiForgeryToken()
                @*onsubmit="return validateForm()" method="post" required*@

                <form asp-action="AdminUpdate" method="post">
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Kimlik No</label>
                        <div class="col-sm-8">
                            <input name="identityNo" type="text" class="form-control" id="" placeholder="Kimlik Numarası" asp-for="IdentityNumber">
                            @Html.ValidationMessageFor(model => model.IdentityNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Adı</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="" name="firstname" placeholder="Adı" asp-for="FirstName">
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Soyadı</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="" placeholder="Soyadı" asp-for="LastName">
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Görevi</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="" placeholder="Görevi" asp-for="Duty">
                        </div>
                    </div>
                    <hr />

                    <fieldset class="form-group">
                        <div class="row">
                            <label class="form-label col-sm-5 pt-0">Cinsiyeti</label>
                            <div class="col col-sm-3 form-check">
                                <input class="form-check-input" type="radio" name="Gender" id="gridRadios1" value="Erkek" checked asp-for="Gender">
                                <label class="form-check-label" for="gridRadios1">
                                    Erkek
                                </label>
                            </div>
                            <div class="col col-sm-3 form-check">
                                <input class="form-check-input" type="radio" name="Gender" id="gridRadios2" value="Kadın" asp-for="Gender">
                                <label class="form-check-label" for="gridRadios2">
                                    Kadın
                                </label>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Doğum Tarihi</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" asp-for="DOB">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Telefon Numarası</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="+90" asp-for="CellPhone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Adres Bilgisi</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" asp-for="Address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-3">
                            <div class="form-actions float-right">
                                <button type="button" class="btn btn-secondary" onclick="history.back()">İptal</button>
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
