
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow">
    <div class="card-header">
        <h4>Admin Ana Sayfası</h4>
    </div>
    <div class="card-body">
        <p></p>
    </div>
</div>

<div class="card shadow mt-2">
    <div class="card-header">
        <h4>Duyurular</h4>
    </div>
    <div class="card-body">
        <p></p>
    </div>
</div>
<div class="card shadow mt-2">
    <div class="card-header">
        <h4>Etkinlikler</h4>
    </div>
    <div class="card-body">
        <p></p>
    </div>
</div>

