@model AdminDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow">
    <div class="card-header">
        <h4>Admin Ana Sayfası</h4>
    </div>
    <div class="card-body">
        <p></p>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card shadow mt-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-9">
                        <h4 class="m-0 font-weight-bold text-primary">Etkinlikler</h4>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-success" data-toggle="modal" data-target="mainModal" href="#" onclick="modalFunction('@Url.Action("EventAdd", "Event")')">Etkinlik Ekle <i class="fa fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow mt-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-9">
                        <h4 class="m-0 font-weight-bold text-primary">Duyurular</h4>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-success" data-toggle="modal" data-target="mainModal" href="#" onclick="modalFunction('@Url.Action("AnnouncementAdd", "Announcement")')">Duyuru Ekle <i class="fa fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p></p>
            </div>
        </div>
    </div>
</div>


