@model InstructorBranchViewModel

<div class="modal-header">
    <h5 class="modal-title font-weight-bold text-primary" id="exampleModalLabel">Öğretmen Bilgileri</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form asp-action="InstructorDetails" class="shadow-sm">

    <input type="hidden" asp-for="InstructorDTO.Id" />

    <div class="modal-body">
        <div class="form-group">
            <label for="formGroupExampleInput">Öğretmen Adı</label>
            <input type="text" class="form-control" readonly id="" placeholder="Adı" asp-for="InstructorDTO.FirstName">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Öğretmen Soyadı</label>
            <input type="text" class="form-control" readonly id="" placeholder="Soyadı" asp-for="InstructorDTO.LastName">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Görevi</label>
            <input type="text" class="form-control" readonly id="" placeholder="Görevi" asp-for="InstructorDTO.Duty">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Branşı</label>
            <input type="text" class="form-control" readonly id="" placeholder="Branşı" asp-for="InstructorDTO.BranchDTO.BranchName">
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput2">Cinsiyeti</label>
            <input type="text" class="form-control" readonly id="" placeholder="Cinsiyeti" asp-for="InstructorDTO.Gender">
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput2">Doğum Tarihi</label>
            <input type="date" class="form-control" readonly asp-for="InstructorDTO.DOB">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Telefon Numarası</label>
            <input type="text" class="form-control" readonly placeholder="+90" asp-for="InstructorDTO.CellPhone">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Adres Bilgisi</label>
            <input type="text" class="form-control" readonly placeholder="" asp-for="InstructorDTO.Address">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Kapat</button>
        <a class="btn btn-outline-warning " href="#" onclick="modalFunction('@Url.Action("InstructorUpdate", "Instructor", new { id = Model.InstructorDTO.Id })')"><i class="fa fa-pen"></i></a>
    </div>

</form>

