@model SubjectDetailViewModel


    <div class="modal-header">
        <h5 class="modal-title font-weight-bold text-primary" id="exampleModalLabel">Yeni Sınav Ekle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form asp-action="ExamAdd" class="shadow-sm">


        <input type="hidden" asp-for="SubjectDTO.Id" />
        <input type="hidden" asp-for="ExamDTO.SubjectId" />
        <input type="hidden" asp-for="MainSubjectDTO.Id" />

        <div class="modal-body">
            @if (Model.SubjectDTO != null)
            {
                <h5>@Model.SubjectDTO.SubjectName Dersi Sınav Formu</h5>
                <hr />
                <div class="form-group">
                    <label for="formGroupExampleInput">Ders Adı</label>
                    <input type="text" readonly class="form-control" id="" placeholder="Ders Adı" asp-for="SubjectDTO.SubjectName">
                    @*<select class="form-control" asp-for="ExamDTO.SubjectId" asp-items="@(new SelectList(Model.SubjectDTOs, "Id","SubjectName"))"></select>*@
                </div>
            }
            else
            {
                <h5>Sınav Formu</h5>
                <hr />
                <div class="form-group">
                    <label for="formGroupExampleInput">Ders Adı</label>
                    <select class="form-control" asp-for="ExamDTO.SubjectId" asp-items="@(new SelectList(Model.SubjectDTOs, "Id","SubjectName"))"></select>
                </div>
            }


            <div class="form-group">
                <label for="formGroupExampleInput">Sınav Adı</label>
                <input type="text" class="form-control" id="" placeholder="Sınav Adı" asp-for="ExamDTO.ExamName">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Sınav Türü</label>
                <select class="form-control" asp-for="ExamDTO.ExamTypeId" asp-items="@(new SelectList(Model.ExamTypeDTOs, "Id","ExamTypeName"))"></select>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Sınav Tarihi</label>
                <input type="date" class="form-control" id="" placeholder="Sınav Tarihi" asp-for="ExamDTO.ExamDate">
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Başlangıç Saati</label>
                        <input type="time" class="form-control" id="" step="600" asp-for="ExamDTO.ExamStartTime">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Bitiş Saati</label>
                        <input type="time" class="form-control" id="" placeholder="Bitiş Saati" asp-for="ExamDTO.ExamEndTime">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>

    </form>
