@model List<StudentDTO>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<div class="wrapper-editor">

    <div class="d-flex justify-content-center buttons-wrapper my-3">
        <button class="btn btn-rounded text-white blue darken-3 btn-sm add-content-edit" type="button"><i class="fas fa-toggle-off"></i></button>
        <button class=" btn btn-rounded text-white purple
                lighten-2 btn-sm add-new-row"
                type="button">
            <i class="fas fa-plus"></i>
        </button>
        <button class="btn btn-rounded text-white red btn-sm remove-first-tr" type="button"> <i class="fas fa-eraser"></i></button>
    </div>

    <table id="contentEx" class="table table-striped display" cellspacing=" 0" width="100%">
        <thead>
            <tr>
                <th>Okul No</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Ort.</th>

            </tr>
        </thead>
        <tfoot>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.GPA</td>

                </tr>
            }

        </tfoot>
    </table>
</div>

@section Scripts{ 
    <script>

        $('#contentEx').mdbEditor({
            contentEditor: true
        });

        $('.dataTables_length').addClass('bs-select');
    </script>
}

