@model UserDTO

<div class="modal-header">
    <h5 class="modal-title font-weight-bold text-primary" id="exampleModalLabel">Şifre Değiştir</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form asp-action="ChangePassword" class="shadow-sm">

    <div class="modal-body">

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Önceki Şifreniz </label>
            <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="Önceki şifrenizi girin" asp-for="Password">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Yeni Şifreniz </label>
            <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="Yeni şifrenizi girin.">
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
        <button type="submit" class="btn btn-primary" asp-route-userName="@Model.UserName" >Kaydet</button>
    </div>

</form>